.btn {
    padding: 3vh;
    border: 3px solid black;
    box-shadow: 2px 3px 5px black;
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.1);
}

.btnNormal {
    background: linear-gradient(to right, #D1D5DB, #6B7280);
    /* gray-300 to gray-500 */
    color: black;
}

.btnLucha {
    background: linear-gradient(to right, #DC2626, #EA580C);
    /* red-600 to orange-600 */
    color: white;
}

.btnVolador {
    background: linear-gradient(to right, #38BDF8, #6366F1);
    /* sky-400 to indigo-500 */
    color: white;
}

.btnVeneno {
    background: linear-gradient(to right, #7C3AED, #DB2777);
    /* purple-600 to pink-600 */
    color: white;
}

.btnTierra {
    background: linear-gradient(to right, #B45309, #F59E0B);
    /* yellow-700 to amber-500 */
    color: white;
}

.btnRoca {
    background: linear-gradient(to right, #CA8A04, #78716C);
    /* yellow-600 to stone-500 */
    color: white;
}

.btnBicho {
    background: linear-gradient(to right, #84CC16, #15803D);
    /* lime-500 to green-700 */
    color: black;
}

.btnFantasma {
    background: linear-gradient(to right, #4338CA, #6B21A8);
    /* indigo-700 to purple-900 */
    color: white;
}

.btnAcero {
    background: linear-gradient(to right, #9CA3AF, #374151);
    /* gray-400 to gray-700 */
    color: white;
}

.btnFuego {
    background: linear-gradient(to right, #F97316, #DC2626);
    /* orange-500 to red-600 */
    color: white;
}

.btnAgua {
    background: linear-gradient(to right, #60A5FA, #1E40AF);
    color: white;
}

.btnPlanta {
    background: linear-gradient(to right, #34D399, #065F46);
    color: white;
}

.btnElectrico {
    background: linear-gradient(to right, #FDE68A, #CA8A04);
    color: black;
}

.btnPsiquico {
    background: linear-gradient(to right, #F9A8D4, #BE185D);
    color: white;
}

.btnHielo {
    background: linear-gradient(to right, #67E8F9, #93C5FD);
    color: black;
}

.btnDragon {
    background: linear-gradient(to right, #6366F1, #7E22CE);
    color: white;
}

.btnSiniestro {
    background: linear-gradient(to right, #1F2937, #000000);
    color: white;
}

.btnHada {
    background: linear-gradient(to right, #FBCFE8, #DB2777);
    color: white;
}